h1 {
    padding: 0 0.2em;
}

td, th {
    border: 1px solid #ccc;
    padding: 0.5em 1em;
    text-align: center;
}

th {
    background-color: #eee;
}

.fail {
    color: #c00;
}

.footer {
    padding: 1em 0.2em;
}

.ok {
    color: #090;
}
