---
  - name: Create directories
    file:
      path: "{{ item }}"
      state: directory
      mode: 0755
    loop:
      - /opt/ica0002
      - /opt/ica0002/pub

  - name: Add public pages
    copy:
      dest: /opt/ica0002/pub/{{ item }}
      src: "{{ item }}"
      mode: 0644
    loop:
      - index.html
      - style.css
