---
  - name: Create directories
    file:
      path: "{{ item }}"
      state: directory
      mode: 0755
    loop:
      - /opt/ica0002
      - /opt/ica0002/data
      - /opt/ica0002/data/students
      - /opt/ica0002/pub
      - /root/.ssh

  - name: Configure SSH
    copy:
      dest: /root/.ssh/config
      src: ssh_config
      mode: 0644

  - name: Add public pages
    copy:
      dest: /opt/ica0002/pub/{{ item }}
      src: "{{ item }}"
      mode: 0644
    loop:
      - index.html
      - style.css

  - name: Iptables-persistent package
    apt:
      name: iptables-persistent
    tags:
      - iptables

  - name: Iptables HTTP port forward
    iptables:
      table: nat
      chain: PREROUTING
      protocol: tcp
      destination_port: "{{ item }}80"
      jump: DNAT
      to_destination: 192.168.42.{{ item }}:80
    with_sequence: start=10 end=200
    tags:
      - iptables
    notify: Iptables save

  - name: Iptables SSH port forward
    iptables:
      table: nat
      chain: PREROUTING
      protocol: tcp
      destination_port: "{{ item }}22"
      jump: DNAT
      to_destination: 192.168.42.{{ item }}:22
    with_sequence: start=10 end=200
    tags:
      - iptables
    notify: Iptables save

  - name: Iptables masquerading
    iptables:
      table: nat
      chain: POSTROUTING
      destination: "192.168.42.0/24"
      jump: MASQUERADE
    tags:
      - iptables
    notify: Iptables save
