---
  - name: Create directories
    file:
      path: "{{ item }}"
      state: directory
      mode: 0755
    loop:
      - /opt/ica0002
      - /opt/ica0002/data
      - /opt/ica0002/data/students
      - /opt/ica0002/pub
      - /opt/ica0002/pub/results
      - /root/.ssh

  - name: Configure SSH
    copy:
      dest: /root/.ssh/config
      src: ssh_config
      mode: 0644

  - name: Add public pages
    copy:
      dest: /opt/ica0002/pub/{{ item }}
      src: "{{ item }}"
      mode: 0644
    loop:
      - index.html
      - style.css
